{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<form action="{% url 'student_intership_view' %}" method="GET" class="col-4">
    <div class="form-group">
      <label class="control-label" for="date">Posted After</label>
      <input class="form-control" id="posted-after" name="post-date" placeholder="DD/MM/YYY" type="date"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="date">Apply By</label>
        <input class="form-control" id="apply-by" name="last-date" placeholder="DD/MM/YYY" type="date"/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary " type="submit">Submit</button>
    </div>
</form>

<table class="table mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Point of Contact Name</th>
        <th scope="col">Point of Contact E-Mail</th>
        <th scope="col">Point of Contact Phone</th>
        <th scope="col">Point of Contact Incentive</th>
        <th scope="col">Point of Contact Attached Document</th>
        <th scope="col">Website</th>
        <th scope="col">Last Date</th>
      </tr>
    </thead>
    <tbody>
        {% for internship in all_internships %}
            <tr>
                <td>{{internship.startup_name}}</td>
                <td>{{internship.startup_contact_name}}</td>
                <td>{{internship.startup_contact_email}}</td>
                <td>{{internship.startup_contact_phone}}</td>
                <td>{{internship.incentive}}</td>
                <td><a href="{{ internship.description_file.url }}">Description File</a></td>
                <td>{{internship.startup_website}}</td>
                <td>{{internship.last_date_to_apply}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("posted-after").setAttribute("max", today);
</script>